@using EczaneApp.EntityLayer
@model Ilac

<div class="col-md-3" style="margin-bottom:20px;">
    <div style="border: 1px solid black; padding: 15px;">
        <div class="text-center">
            <i class="fas fa-syringe fa-10x"></i>
        </div>
        <div style="font-family:Arial; font-weight:bold; text-align:center; font-size:17px;">@Model.Ad</div>
        <div style=" text-align:center; font-size:12px;">(@Model.Kategori.Ad)</div>
        <div style="margin: 15px; text-align:center;">
            <a onclick="SepeteEkle('@Model.Id')" class="btn btn-success btn-xs">Sepete Ekle</a>
        </div>
        <div style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; margin-bottom:30px;">
            <span style="float:left;">Adet <b>@Model.Adet</b></span>
            <span style="float: right; ">Fiyat <b>@String.Format("{0:C}", Model.Fiyat)</b></span>
        </div>
    </div>
    
</div>
