@using EczaneApp.EntityLayer
@model List<Kullanici>
@{
    ViewBag.Title = "Kullanıcılar";
}

@using System.Web.Optimization
@section styles{
    @Styles.Render("~/site/dataCSS")
}
@section scripts{
    @Scripts.Render("~/site/dataJS")

    <script>
        $(document).ready(function () {
            $('table').DataTable({
                language: {
                    url: 'https://cdn.datatables.net/plug-ins/1.10.24/i18n/Turkish.json'
                }
            });
        });
    </script>
}

<h2>Kullanıcılar</h2>
<br />
<a href="@Url.Action("Ekle")" class="btn btn-success"><i class="fas fa-plus"></i> Ekle</a>
<br />
<br />
<table class="table table-hover table-bordered table-striped">
    <thead>
        <tr style="user-select:none;">
            <th>ID</th>
            <th>Ad</th>
            <th>Şifre</th>
            <th>Yetki</th>
            <th>Personel</th>
            <th>Son Giriş Tarihi</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Ad</td>
            <td>@item.Sifre</td>
            <td>@item.Yetki</td>
            <td>@item.Personel.Ad</td>
            <td>@item.sonGirisT</td>
            <td>
                <a href="@Url.Action("Sil",new { id = item.Id })" class="btn btn-xs btn-danger"><i class="fas fa-trash"></i></a>
                <a href="@Url.Action("Duzenle",new { id = item.Id })" class="btn btn-xs btn-primary"><i class="fas fa-edit"></i></a>
            </td>
        </tr>
    }
        </tbody>
</table>

